<section class="mt-5">
  <table class="table table-zebra mt-2 w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>Flag</th>
        <th>Country</th>
        <th>Capital</th>
        <th>Region</th>
        <th>Population</th>
        <th>Info</th>
      </tr>
    </thead>
    <tbody>
      @for (country of countries(); track  country.cca2; let index = $index) {
        <tr>
          <td>{{ index + 1 }}</td>
          <td>
            <img [src]="country.flagSVG" [alt]="country.name" class="inline w-6 h-4 mr-2"/>
          </td>
          <td>{{ country.name }}</td>
          <td>{{ country.capital }}</td>
          <td>{{ country.region }}</td>
          <td>
            <span class="badge badge-secondary badge-sm">
              {{ country.population | number }}
            </span>
          </td>
          <td>
            <a
            [routerLink]="['/country/by', country.cca2]"
            class="link-primary">More Info</a>
          </td>
        </tr>
      }
      @if (errorMessage()) {
        <tr>
          <td colspan="8" class="text-center">
            {{errorMessage()}}
          </td>
        </tr>
      }
      <!--  -->
      @if (countries().length === 0 && !isLoading()) {
        <tr>
          <td colspan="8" class="text-center">
            No results
          </td>
        </tr>
      }
      <!--  -->
      @if (isLoading()) {
        <tr>
          <td colspan="8" class="text-center">
            Searching...
          </td>
        </tr>
      }
    </tbody>

  </table>

</section>
